* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: "Inter", sans-serif;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: white;
}

main {
    min-height: 90vh;
}

main .left {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    align-self: center;
}

.left h1 {
    font-size: 50px;
    
    
}



main,
header,
main .left,
footer .primary {
    display: flex;
}

header .icon {
    height: 10px;
    width: 10px;
}

.icon1 {
    height: 10px;
}

header {
    justify-content: space-between;
}

.right video {
    width: 70%;
}

main .left {
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

/* footer .primary{ */



footer a {
    color: white;
}

footer .icon {
    height: 10px;
}

main,
footer {
    margin: 0 auto;
    max-height: 1100px;
}